body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	text-transform: lowercase;
}

div, span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tap-line {
	border-bottom: 1px solid black;
	margin-bottom: 8px;
	padding: 2px;
}

.delay-ctrl, .filter-ctrl, .mix-ctrl {
	float: left;
	padding: 0 8px;
	border-right: 1px solid black;
}

.delay-ctrl {
	padding-left: 0;
}

.mix-ctrl {

	border: none;
}

.clear {
	clear: both;
}

.header {
	font-size: 18px;
	font-weight: bold;
}

/* http://webdesign.tutsplus.com/articles/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
input.custom-slider {
	display: block;
}

input.custom-slider + label.custom-slider-label {
	display: inline-block;
    height: 20px;
    width: 60px;
    line-height: 20px;
    border: 1px solid black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    text-align: right;
}

label.custom-slider-label span:after {
	content: "\25c2";
}

span.label {
	display: inline-block;
	float: right;
	margin-right: 8px;
	margin-bottom: 4px;
}

/*input.custom-slider + label.custom-slider-label span {
    display:inline-block;
    width:28px;
    height:28px;
    vertical-align:middle;
    background:url(../images/custom_checkbox.png) left top no-repeat;
    cursor:pointer;
}

input.custom-checkbox:checked + label span {
    background:url(../images/custom_checkbox.png) left -29px no-repeat;
}*/